.calc__inner {
  width: 100%;
  padding: 117px 80px;
}

.calc__content {
  display: flex;
  justify-content: space-between;
}

.calc__title {
  font-size: 70px;
  line-height: 1.23;
  max-width: 1388px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.calc__desc {
  font-size: 24px;
  line-height: 1.36;
  max-width: 1000px;
  margin-bottom: 35px;
}

.calc__actions {
  display: flex;
  gap: 28px;
}

.calc__btn {
  background-color: var(--color-primary);
  color: var(--bg-white);
  text-decoration: none;
  font-size: 18px;
  padding: 24px 74px;
  border-radius: 16px;
}


/* /////// FAQ ///////// */


